{% extends 'base.html' %}
{% block title %}
<h1>
  GRAFY
</h1>
<div class="container-fluid py-2">
  <hr class="my-0">
</div>
{% endblock %}
{% block content %}

<div class="container text-center pb-3">
  <div class="col">
    <h3 class="pt-4">Procent rekomendacji</h3>
    <img src="../../{{source}}_recommendation.png" alt="">
    <h3 class="pt-4">Procent rekomendacji</h3>
    <img src="../../{{source}}_score.png" alt="">
  </div>
</div>

<button class="btn-secondary p-2 my-5" onclick="goBack()">wróć</button>

<div class="my-5"></div>

<script>
  function goBack() {
    window.history.back();
  }
</script>

{% endblock %}