<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Products</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
  <header>
    <div class="container.fluid bg-dark text-center p-2">
      <h1 class="display-1 text-light">Product List</h1>
      <small class="text-light">
        <a class="text-light link-underline link-underline-opacity-0" href="index.html">Return to homepage</a>
      </small>
    </div>
  </header>

  <div class="m-5">
    <ul class="list-unstyled text-center text-dark">
      <li class="h1">Product List</li>
      <li>
        <a class="h6 link-underline link-underline-opacity-0" href="product.html">Product</a>
        <ul class="list-inline">
          <li class="list-inline-item">number of opinions</li>
          <li class="list-inline-item">number of cons</li>
          <li class="list-inline-item">number of pros</li>
          <li class="list-inline-item">average rating</li>
          <li class="list-inline-item">download opinion file</li>
        </ul>
      </li>
    </ul>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
</body>

</html>